@let button = viewModel();
<button
  type="submit"
  class="relative px-2 py-2 flex items-center justify-center rounded-full cursor-pointer group"
  aria-label="Create my resume"
  [ngClass]="{
    'bg-neutral-900 text-white': !button.deactivated,
    'bg-neutral-100 hover:bg-neutral-200 text-neutral-900': button.deactivated,
  }"
  [disabled]="button.deactivated || button.isSubmitting"
  (click)="handleClick()"
>
  @if (button.isSubmitting) {
    <app-spinner/>
  } @else {
    <div class="flex items-center justify-center">
      <svg
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        [ngClass]="{
        'text-white': !button.deactivated,
        'text-neutral-900': button.deactivated
      }"
      >
        <path d="M12 6V18M12 6L7 11M12 6L17 11" fill="currentColor" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <ng-content/>
    </div>
  }
</button>
