<div class="relative w-full max-w-2xl mx-auto">
  <form [formGroup]="form"
        class="relative flex flex-col w-full bg-white rounded-3xl border border-neutral-200 shadow-sm shadow-neutral-300/50">
    <div class="flex items-start w-full mb-2 px-4 pt-4">
      <textarea
        rows="1"
        style="field-sizing: content;"
        class="flex-grow min-w-0 text-neutral-800 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto min-h-[48px] max-h-[120px] p-0"
        placeholder="Tell me the role, I'll build the perfect example"
        autocomplete="off"
        formControlName="text"
        (keydown)="onKeyDown($event)"
      ></textarea>
    </div>

    <div class="flex items-center justify-between mt-auto px-2 pb-2">
      <app-upload-button [form]="form"/>
      <app-create-button [form]="form"/>
    </div>
  </form>
</div>
