@let prompt = viewModel();
<div class="min-h-screen flex flex-col items-center justify-center -mt-24">
  <div class="w-full max-w-3xl px-4">
    <div class="relative">
      <app-prompt-headline/>
      <app-prompt-input-form
        placeholder="What job are you applying for?"
        (onPressEnter)="sendPrompt()"
        [deactivated]="prompt.isSubmitting"
      >
        <div id="action-buttons" class="flex items-center gap-1" [class.justify-end]="prompt.isLineWrapped">
          <app-prompt-file-upload/>
          <app-prompt-send-button
            aria-label="Create my resume"
            (clicked)="sendPrompt()"
            [deactivated]="prompt.form.invalid"
          />
        </div>
      </app-prompt-input-form>
    </div>
  </div>
</div>
