@let prompt = viewModel();
<div class="min-h-screen flex flex-col items-center justify-center -mt-24">
  <div class="w-full max-w-3xl px-4">
    <div class="relative">
      <app-headline/>
      <app-input #promptInputRef
                        placeholder="Describe your background: skills, jobs, or goals"
                        (onKeyDown)="onSubmit()">
        <div class="flex items-center" [class.justify-end]="prompt.hasLineBreaks">
          <app-upload-file/>
          <app-submit
            (clicked)="onSubmit()"
            [activated]="prompt.form.valid"
          >
<!--            <span class="text-sm font-medium whitespace-nowrap">-->
<!--              {{ (prompt.submitting) ? 'Create Resume' : 'Create Resume' }}-->
<!--            </span>-->
          </app-submit>
        </div>
      </app-input>
    </div>
  </div>
</div>
