<div class="relative w-full mx-auto">
  <form [formGroup]="form"
        class="relative w-full bg-white border border-neutral-200 shadow-sm shadow-neutral-300/50 overflow-hidden"
        [class.rounded-full]="!hasMultipleLines"
        [class.rounded-4xl]="hasMultipleLines"
        [class.opacity-50]="(promptService.loading$ | async) || deactivated"
        [class.pointer-events-none]="(promptService.loading$ | async) || deactivated"
  >
    <fieldset [disabled]="(promptService.loading$ | async) || deactivated" class="w-full">
      <div [class]="hasMultipleLines ? 'w-full' : 'flex items-center w-full px-4 py-4'">
        <div [class]="hasMultipleLines ? 'flex items-center w-full px-4 py-4' : 'flex items-center flex-1'">
          <textarea
            #promptTextarea
            id="message"
            rows="1"
            style="field-sizing: content; word-break: break-word; overflow-wrap: break-word;"
            class="w-full text-neutral-950 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto min-h-[24px] max-h-[120px] p-0"
            autocomplete="off"
            formControlName="text"
            (keydown)="handleKeyDown($event)"
            (input)="checkTextareaHeight()"
            [placeholder]="placeholder"
          ></textarea>
        </div>

        <div [class]="hasMultipleLines ? 'px-4 py-3 border-neutral-200' : 'flex items-center'">
          <ng-content/>
        </div>
      </div>
    </fieldset>
  </form>
</div>
