<div class="relative w-full mx-auto">
  <form [formGroup]="form"
        class="relative w-full bg-white border border-neutral-200 shadow-xl shadow-neutral-300/50 overflow-hidden"
        [class.rounded-full]="!promptHasMultipleLines"
        [class.rounded-3xl]="promptHasMultipleLines"
        [class.opacity-50]="(promptService.loading$ | async) || deactivated"
        [class.pointer-events-none]="(promptService.loading$ | async) || deactivated"
  >
    <fieldset [disabled]="(promptService.loading$ | async) || deactivated" class="w-full">
      <div [class]="promptHasMultipleLines ? 'w-full' : 'flex items-center w-full px-2 py-2'">
        <div [class]="promptHasMultipleLines ? 'flex items-center w-full px-2 py-2' : 'flex items-center flex-1'">
          <textarea
            #promptRef
            id="message"
            rows="1"
            style="field-sizing: content; word-break: break-word; overflow-wrap: break-word;"
            class="w-full text-neutral-950 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto min-h-[24px] max-h-[120px] pl-3 pr-2 py-0 custom-scrollbar smooth-scroll "
            autocomplete="off"
            formControlName="text"
            (keydown)="handleKeyDown($event)"
            (input)="onTextCollideWrapNewLine()"
            [placeholder]="placeholder"
          ></textarea>
        </div>
        <div [class]="promptHasMultipleLines ? 'px-2 py-2 border-neutral-200' : 'flex items-center'">
          <ng-content/>
        </div>
      </div>
    </fieldset>
  </form>
</div>
