<div class="relative w-full mx-auto">
  <form [formGroup]="form"
        class="relative flex flex-col w-full bg-white rounded-3xl border border-neutral-200 shadow-sm shadow-neutral-300/50 overflow-hidden"
        [class.opacity-50]="(promptService.loading$ | async) || deactivated"
        [class.pointer-events-none]="(promptService.loading$ | async) || deactivated"
  >
    <fieldset [disabled]="(promptService.loading$ | async) || deactivated">
      <div class="flex items-start w-full mb-2 px-4 pt-4 overflow-hidden">
        <textarea
          id="message"
          rows="1"
          style="field-sizing: content; word-break: break-word; overflow-wrap: break-word;"
          class="w-full text-neutral-950 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto min-h-[48px] max-h-[120px] p-0"
          autocomplete="off"
          formControlName="text"
          (keydown)="handleKeyDown($event)"
          [placeholder]="placeholder"
        ></textarea>
      </div>
      <ng-content/>
    </fieldset>
  </form>
</div>
