@let input = viewModel();
<div class="relative w-full mx-auto">
  <form [formGroup]="input.form"
        class="relative w-full bg-white border border-neutral-200 shadow-xl shadow-neutral-300/50 overflow-hidden"
        [class.rounded-full]="!input.isLineWrapped"
        [class.rounded-3xl]="input.isLineWrapped"
        [class.opacity-50]="input.isSubmitting || input.isDeactivated"
        [class.pointer-events-none]="input.isSubmitting || input.isDeactivated"
  >
    <fieldset [disabled]="input.isSubmitting || input.isDeactivated">
      <div [class]="input.isLineWrapped ? 'w-full' : 'w-full flex items-stretch p-2'">
        <div [class]="input.isLineWrapped ? 'w-full flex items-center px-1 py-3' : 'w-full flex flex-1 items-center'">
          <textarea
            #promptRef
            id="message"
            rows="2"
            style="field-sizing: content; word-break: break-word; overflow-wrap: break-word;"
            class="w-full text-neutral-950 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto pl-3 pr-2 custom-scrollbar smooth-scroll"
            autocomplete="off"
            formControlName="text"
            (keydown)="handlePressEnter($event)"
            (input)="handleLineWrapChange()"
            [placeholder]="input.placeholder"
          ></textarea>
<!--          @if (prompt.form.get(controlName)?.invalid && form.get(controlName)?.touched) {-->
<!--            <div class="text-red-500 text-sm mt-1">-->
<!--              @if (form.get(controlName)?.errors?.['required']) {-->
<!--                This field is required-->
<!--              }-->
<!--              @if (error) {-->
<!--                {{ error }}-->
<!--              }-->
<!--            </div>-->
<!--          }-->
        </div>
        <div [class]="input.isLineWrapped ? 'px-2 py-2 border-neutral-200' : 'flex items-center'">
          <div id="action-buttons" class="flex items-center gap-1" [class.justify-end]="input.isLineWrapped">
            <ng-content/>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
