@let prompt = viewModel();
<div class="relative w-full mx-auto">
  <form [formGroup]="prompt.form"
        class="relative w-full bg-white border border-neutral-200 shadow-xl shadow-neutral-300/50 overflow-hidden"
        [class.rounded-full]="!prompt.isLinedWrapped"
        [class.rounded-3xl]="prompt.isLinedWrapped"
        [class.opacity-50]="prompt.isSubmitting || deactivated"
        [class.pointer-events-none]="prompt.isSubmitting || deactivated"
  >
    <fieldset [disabled]="prompt.isSubmitting || deactivated">
      <div [class]="prompt.isLinedWrapped ? 'w-full' : 'w-full flex items-stretch p-2'">
        <div [class]="prompt.isLinedWrapped ? 'w-full flex items-center px-1 py-3' : 'w-full flex flex-1 items-center'">
          <textarea
            #promptRef
            id="message"
            rows="2"
            style="field-sizing: content; word-break: break-word; overflow-wrap: break-word;"
            class="w-full text-neutral-950 bg-transparent focus:outline-none placeholder-neutral-400 resize-none overflow-y-auto pl-3 pr-2 custom-scrollbar smooth-scroll"
            autocomplete="off"
            formControlName="text"
            (keydown)="handlePressEnter($event)"
            (input)="handleTextWrapToNewLive()"
            [placeholder]="placeholder"
          ></textarea>
        </div>
        <div [class]="prompt.isLinedWrapped ? 'px-2 py-2 border-neutral-200' : 'flex items-center'">
          <div id="action-buttons" class="flex items-center gap-1" [class.justify-end]="prompt.isLinedWrapped">
            <ng-content/>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
