<div class="min-h-screen flex flex-col items-center justify-center -mt-24">
  <div class="w-full max-w-3xl px-4">
    <div class="relative">
      <app-prompt-headline/>
      <app-prompt-input
        #promptInputRef
        [form]="promptService.form"
        placeholder="I'm a professional skilled in Python and AWS"
        (onKeyDown)="promptService.submitPrompt()"
      >
        <app-prompt-actions [multiLine]="promptInputRef.hasMultipleLines"/>
      </app-prompt-input>
    </div>
  </div>
</div>

