<div class="flex flex-col" style="height: 100%;">
  <div class="w-full px-4 bg-white">
    <div class="w-full max-w-3xl mx-auto">
      <app-input
        #promptInputRef
        [form]="promptFacade.form"
        placeholder="Ask anything"
        (submit)="promptFacade.createChat()">
        <div class="flex items-center justify-end px-2">
          <app-send-message-button (click)="promptFacade.createChat()"/>
        </div>
      </app-input>
      <app-chat-disclaimer/>
    </div>
  </div>
</div>
