:host {
  display: contents;
}

.age-input::-webkit-inner-spin-button,
.age-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.age-input {
  -moz-appearance: textfield;
}
